# ======================
# Java (Spring Boot)
# ======================
target/
*.log
*.class

# ======================
# Node (React - future)
# ======================
node_modules/
build/

# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc

# ======================
# IDE Files
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment Variables
# ======================
.env